:root {
  --primary: black !important;
  --accent: red !important;
  --light: white !important;
  --header: cursive !important;
  --text: sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary) !important;
  color: var(--text) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--accent);
}

.c-accent {
  color: var(--accent) !important;
}
.c-primary {
  color: var(--primary) !important;
}
.c-light {
  color: var(--light) !important;
}
.c-hover-accent:hover {
  color: var(--accent) !important;
}
.c-hover-primary:hover {
  color: var(--primary) !important;
}
.c-hover-light:hover {
  color: var(--light) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-hover-accent:hover {
  background-color: var(--accent) !important;
}
.bg-hover-primary:hover {
  background-color: var(--primary) !important;
}
.bg-hover-light:hover {
  background-color: var(--light) !important;
}

.ff-text {
  font-family: var(--text) !important;
}
.ff-header {
  font-family: var(--header) !important;
}

.o-0 {
  opacity: 0 !important;
}
.o-25 {
  opacity: 0.25 !important;
}
.o-50 {
  opacity: 0.5 !important;
}
.o-75 {
  opacity: 0.75 !important;
}
.o-100 {
  opacity: 1 !important;
}
.o-hover-25:hover {
  opacity: 0.25 !important;
}
.o-hover-50:hover {
  opacity: 0.5 !important;
}
.o-hover-75:hover {
  opacity: 0.75 !important;
}
.o-hover-100:hover {
  opacity: 1 !important;
}

.transition {
  transition: 0.5s;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
